{{ define "header" }}
  {{ with .Params.featured_image }}
    <section class="featured-image" style="
      background-image: url('{{ . }}');
      height: 100px;
      background-size: cover;
      background-position: center 10%;
      margin-bottom: 2rem;">
    </section>
  {{ end }}
  {{ partials.Include "page-header.html" . }}
{{ end }}

{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <header>
        <h1 class="f1">{{ .Title }}</h1>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
        {{ .Content }}
      </div>
    </article>
  </div>
{{ end }}
