<header class="bg-gradient-blue">
  <nav class="pv3 ph3 ph4-ns center mw8" role="navigation">
    <div class="flex-l items-center justify-between">
      <a href="/" class="f3 fw2 white-90 no-underline">
        The Autonomous Creator
      </a>
      <div class="menu flex flex-wrap justify-end">
        <ul class="list pl0 ma0 flex flex-wrap">
          <li class="pr3"><a class="white-90 no-underline hover-light-blue" href="/">Home</a></li>
          <li class="pr3"><a class="white-90 no-underline hover-light-blue" href="/categories/studies-in-denmark">Studies in Denmark</a></li>
          <li class="pr3"><a class="white-90 no-underline hover-light-blue" href="/categories/photography">Photography</a></li>
          <li class="pr3"><a class="white-90 no-underline hover-light-blue" href="/categories/music">Music</a></li>
          <li class="pr3"><a class="white-90 no-underline hover-light-blue" href="/categories/on-the-go">On The Go</a></li>
          <li class="pr3"><a class="white-90 no-underline hover-light-blue" href="/categories/aboutme">About Me</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
