<header class="bg-gradient-blue">
  <nav class="pv3 ph3 ph4-ns" role="navigation">
    <div class="flex-l center items-center justify-between">
      <a href="/" class="f3 fw2 hover-white white-90 dib no-underline site-title">
        The Autonomous Creator
      </a>
      <div class="flex-l items-center">
        <ul class="pl0 mr3 flex-l">
          <li class="list f5 f4-ns fw4 dib pr3">
            <a class="hover-white white-90 no-underline" href="/" title="Home page">Home</a>
          </li>
          <li class="list f5 f4-ns fw4 dib pr3">
            <a class="hover-white white-90 no-underline" href="/categories/studies-in-denmark" title="Studies in Denmark">Studies in Denmark</a>
          </li>
          <li class="list f5 f4-ns fw4 dib pr3">
            <a class="hover-white white-90 no-underline" href="/categories/photography" title="Photography">Photography</a>
          </li>
          <li class="list f5 f4-ns fw4 dib pr3">
            <a class="hover-white white-90 no-underline" href="/categories/music" title="Music">Music</a>
          </li>
          <li class="list f5 f4-ns fw4 dib pr3">
            <a class="hover-white white-90 no-underline" href="/categories/on-the-go" title="On The Go">On The Go</a>
          </li>
          <li class="list f5 f4-ns fw4 dib pr3">
            <a class="hover-white white-90 no-underline" href="/categories/aboutme" title="About Me">About Me</a>
          </li>
          <li class="list f5 f4-ns fw4 dib pr3">
            <a class="hover-white white-90 no-underline" href="/contact" title="Contact me">Contact me</a>
          </li>
        </ul>
        <div class="ananke-socials">
          <a href="https://facebook.com/twoj-profil" target="_blank" class="link white-90 hover-white dib f4 mr2" title="Facebook">📘</a>
          <a href="https://instagram.com/twoj-profil" target="_blank" class="link white-90 hover-white dib f4" title="Instagram">📷</a>
        </div>
      </div>
    </div>
  </nav>
</header>
