{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image_class := .Params.featured_image_class | default "cover bg-center" }}
  {{ $cover_dimming_class := .Params.cover_dimming_class | default "bg-black-60" }}
  
  <header class="{{ $featured_image_class }}" style="background-image: url('{{ $featured_image }}');">
    <div class="{{ $cover_dimming_class }}" style="
        /* Wymuszamy stałą wysokość na tym wewnętrznym divie, który zawiera obrazek tła i tekst */
        height: 350px !important;
        min-height: 350px !important;
        width: 100%;
        box-sizing: border-box; /* Ważne, aby padding nie zwiększał wysokości */
        
        /* Resetujemy wszelkie paddingi i marginesy, które motyw mógłby tu dodać */
        padding: 0 !important; 
        margin: 0 !important;

        /* Konfigurujemy Flexbox do centrowania zawartości */
        display: flex;
        flex-direction: column; /* Elementy układają się w kolumnie (nawigacja, tekst) */
        justify-content: center; /* Centruj zawartość pionowo wewnątrz tego div'a */
        align-items: center;   /* Centruj zawartość poziomo wewnątrz tego div'a */
        text-align: center;    /* Centruj tekst */
    ">
      {{ partial "site-navigation.html" . }}
      <div class="tc-l ph3 ph4-ns" style="
          /* Resetujemy wszelkie paddingi i marginesy dla kontenera tekstowego */
          padding: 0 !important; 
          margin: 0 !important;
          width: 100%; /* Rozciągamy na pełną szerokość */
          
          /* Opcjonalnie: dodajemy trochę własnego, kontrolowanego paddingu do tekstu */
          padding-top: 1rem !important; 
          padding-bottom: 1rem !important;
      ">
        {{ if not .Params.omit_header_text }}
          <h1 class="f2 f1-l fw2 white-90 mb0 lh-title" style="margin: 0 !important;">{{ .Title | default .Site.Title }}</h1>
          {{ with .Params.description  }}
            <h2 class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4" style="margin: 0 !important;">
              {{ . }}
            </h2>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}