<div class="relative w-100 w-30-l mb4 bg-white">
  {{ if .Params.featured_image }}
    {{ $featured_image := .Params.featured_image }}
    <div class="relative w-100 mb3">
      <img src="{{ $featured_image | relURL }}" class="w-100 db" alt="{{ .Title }}" />
    </div>
  {{ end }}

  <div class="pa3">
    <h2 class="f5 f4-l fw7 black-90 mb2">
      <a href="{{ .Permalink }}" class="link black-90 dim">{{ .Title }}</a>
    </h2>

    <p class="f6 lh-copy black-60">
      {{ .Summary }}
    </p>

    <div class="f6 gray mt3">
      <time>{{ .Date.Format "January 2, 2006" }}</time>
    </div>
  </div>
</div>