{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wider lh-copy mid-gray">
      {{/* Opcjonalnie: Treść z _index.md dla strony głównej (jeśli jest) */}}
      {{ .Content }} 
    </section>

    <section class="flex-ns flex-wrap justify-around mt5">
      {{/* Pobieramy wszystkie regularne strony (posty), sortujemy je malejąco według daty */}}
      {{ $latestPost := (where .Site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse.First }}

      {{/* Sprawdzamy, czy znaleziono jakiś post */}}
      {{ if $latestPost }}
        {{/* Wywołujemy partiala dla tego jednego, najnowszego posta */}}
        {{ partial "post-card.html" $latestPost }} 
      {{ else }}
        <p>Brak dostępnych postów.</p>
      {{ end }}
    </section>
  </article>
{{ end }}